<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" type="text/css" href="https://unpkg.com/view-design/dist/styles/iview.css" />
    <link rel="stylesheet" href="./dist/index.css" />
    <script type="text/javascript" src="https://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/view-design/dist/iview.min.js"></script>
    <title>培训Or外包公司查询</title>
</head>

<body>
    <a class="github-fork-ribbon right-top" href="https://github.com/zxpsuper/IT-blacklist"
        title="Fork me on GitHub">Fork me on
        GitHub</a>
    <div id="app">
        <div class="text-center">
            <h1 style="margin-bottom: 20px;">培训Or外包公司查询</h1>
            <div>
                <i-input v-model="value" placeholder="输入点什么吧..." style="width: 300px"></i-input>
                <i-button type="primary" @click="checkOutsourcing">外包</i-button>
                <i-button type="primary" @click="checkTrain">培训</i-button>
                <i-button type="primary" @click="add">我要补充</i-button>
            </div>
            <div style="width: 460px; margin: 20px auto; padding: 20px 16px">
                <div v-for="item in list" class="company-item">
                    <span v-for="char in item" :class="{'red-char': redChar(char)}">{{char}}</span>
                </div>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                value: '',
                outsourcingList: [],
                trainList: [],
                type: 0
            },
            computed: {
                list() {
                    if (this.type === 0 || this.value === '') return []
                    else if (this.type === 1) {

                        let arr = [], name = ''
                        this.outsourcingList.forEach(element => {
                            if (element.name.includes(this.value)) {
                                name = element.name
                                arr.push(name)
                            }
                        });
                        return arr
                    } else {
                        let arr = [], name = ''
                        this.trainList.forEach(element => {
                            if (element.name.includes(this.value)) {
                                name = element.name
                                arr.push(name)
                            }
                        });
                        return arr
                    }
                }
            },
            created() {
                fetch('./dist/outsourcingList.json').then(response => response.json())
                    .then(data => {
                        this.outsourcingList = data
                    })
                fetch('./dist/trainList.json').then(response => response.json())
                    .then(data => {
                        this.trainList = data
                    })
            },
            methods: {
                checkOutsourcing() {
                    this.type = 1
                },
                checkTrain() {
                    this.type = 2
                },
                redChar(char) {
                    return this.value.includes(char)
                },
                add() {
                    window.open('https://github.com/zxpsuper/IT-blacklist/issues')
                }
            },
        });
    </script>
</body>

</html>